[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
feedparser = "*"
bs4 = "*"
selenium = "*"
webdriver-manager = "*"
dotenv = "*"
aiohttp = "*"
aiolimiter = "*"
ratelimit = "*"
tenacity = "*"
urllib3 = "*"
python-slugify = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
